@import (inline) '../node_modules/bulma/css/bulma.css';
@import (less) './less/playlist.less';
.container {
    height: 100vh;
    position: relative;
    padding: 50px;
}
.lrc-panel {
    transition: transform .5s ease;
    li {
        height: 40px;
        white-space: nowrap;
        overflow: hidden;
        transition: color .5s ease;
    }
}